@import "../../../assets/styles/app";

.cookiesPopup {
  position: fixed;
  z-index: 999;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 12px 12px 0 0;
  border: 1px solid $color_light_gray;
  backdrop-filter: blur(34px);
  background: rgba(0, 0, 0, 0.4);
  padding: 12px 16px 20px;

  @include tablet {
    padding: 27px 24px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @include desktop() {
    padding: 27px calc((100vw - 1120px) / 2) 41px;
  }

  .top {

    @include tablet {
      display: flex;
      align-items: center;
    }

    .topLeft {
      display: flex;
      align-items: center;

      svg {
        flex-shrink: 0;
        width: 106px;
        height: 46px;

        @include tablet {
          width: 131px;
          height: 58px;
        }
      }

      .titleMobile {
        @include onlyMobile();
        font-weight: 400;
        font-size: 12px;
        line-height: 140%;
        color: #FFF;
        margin-left: 26px;
      }
    }

    .topRight {

      @include tablet {
        margin-left: 21px;
      }

      @include desktop {
        margin-left: 49px;
      }

      .titleTabletAndMore {
        @include onlyTabletAndMore();
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        color: #FFF;
      }

      .switches {
        display: flex;
        justify-content: center;
        margin-top: 26px;

        @include desktop {
          justify-content: flex-start;
        }

        .switchItem {
          &:not(:first-child) {
            margin-left: 12px;

            @include tablet {
              margin-left: 40px;
            }
          }
        }
      }

    }

  }

  .buttons {
    margin-top: 26px;

    @include tablet {
      margin-top: 0;
      margin-left: 28px;
      width: 200px;
    }

    .btn {
      width: 100%;

      &:not(:first-child) {
        margin-top: 10px;
      }
    }
  }

}

.switchComponent {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;

  .label {
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    text-align: center;
    color: $color_white;

    @include tablet {
      font-size: 14px;
    }
  }

  .switch {
    position: relative;
    margin-top: 6px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 24px;
    width: 45px;
    height: 24px;
    background: rgba(0, 0, 0, 0.2);

    .inner {
      width: 20px;
      height: 20px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      background: rgba(0, 0, 0, 0.2);
      border-radius: 50%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 1px;
      transition: 0.3s;

      &_checked {
        border-color: $color_purple;
        background: $color_purple;
        left: 23px;
      }
    }

  }
}