@import "../../../assets/styles/app";

.newEra {
  @include container;
  padding-top: 30px;

  @include tablet {
    padding-top: 34px;
  }

  @include desktop {
    padding-top: 60px;
  }

  .inner {
    @include inner;

    .pre {
      @include pre;
    }

    .title {
      @include h2;
      width: 210px;
      margin-top: 6px;

      @include tablet {
        width: 374px;
      }

      @include desktop {
        width: 495px;
      }

      span {
        &:nth-child(2) {
          @include text-gradient;
        }
      }
    }

    .cards {
      margin-top: 20px;

      @include tablet {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }

      @include desktop {
        margin-top: 40px;
      }

      .card {
        border-radius: 10px;
        border: 1px solid rgba(255,255,255, 0.1);
        box-shadow: 0 3px 13px 0 rgba(0, 0, 0, 0.5);
        padding: 20px 20px 12px;

        &:not(:first-child) {
          margin-top: 16px;

          @include tablet {
            margin-top: 0;
          }
        }

        &:nth-child(1), &:nth-child(2) {
          @include tablet {
            width: calc((100vw - 56px) / 2);
            margin-bottom: 16px;
          }


          @include desktop {
            width: 544px;
            margin-bottom: 32px;
          }
        }

        &:nth-child(3), &:nth-child(4), &:nth-child(5) {
          @include tablet {
            width: calc((100vw - 40px - 32px) / 3);
          }

          @include desktop {
            width: 352px;
          }
        }


        svg {
          height: 50px;

          @include desktop {
            height: 80px;
          }
        }

        .label {
          margin-top: 8px;
          font-weight: 700;
          font-size: 16px;
          line-height: 140%;
          color: $color_white;

          @include tablet {
            margin-top: 10px;
          }

          @include desktop {
            margin-top: 12px;
            font-size: 24px;
          }
        }

        .description {
          margin-top: 8px;
          font-weight: 400;
          font-size: 12px;
          line-height: 140%;
          color: $color_white;

          @include desktop {
            margin-top: 12px;
            font-size: 14px;
          }
        }
      }
    }

  }
}