@import "../../../assets/styles/app";

.marketHours {
  @include container;
  @include pagePaddings;

  .inner {
    @include inner;

    .title {
      @include h2;
    }

    .description {
      margin-top: 10px;
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      text-align: center;
      color: $color_white;

      @include desktop {
        margin-top: 12px;
        font-size: 16px;
        width: 736px;
        margin-left: auto;
        margin-right: auto;
      }
    }

    .card {
      border-radius: 9px;
      border: 1px solid rgba(255, 255, 255, 0.07);
      backdrop-filter: blur(22.100000381469727px);
      box-shadow: 0 3px 13px 0 rgba(0, 0, 0, 0.5);
      margin-top: 10px;
      padding: 16px 20px;

      @include tablet {
        margin-top: 20px;
      }

      @include desktop {
        margin-top: 32px;
        padding: 24px 30px;
      }

      .top {
        display: flex;
        justify-content: space-between;

        .topTitle {
          font-weight: 700;
          font-size: 16px;
          line-height: 140%;
          color: $color_white;

          @include desktop {
            font-size: 24px;
          }
        }

        .switcherWrapper {
          cursor: pointer;
          display: flex;
          flex-direction: column;
          align-items: flex-end;

          @include tablet {
            flex-direction: row;
            align-items: normal;
          }

          .switcherWrapperLabel {
            font-weight: 400;
            font-size: 10px;
            line-height: 140%;
            color: $color_white;
            white-space: nowrap;

            @include desktop {
              font-size: 16px;
            }
          }

          .switcher {
            margin-top: 12px;
            position: relative;
            backdrop-filter: blur(34px);
            box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.5);
            background: rgba(0, 0, 0, 0.8);
            border: 0.65px solid rgba(255, 255, 255, 0.2);
            border-radius: 7px;
            width: 26px;
            height: 13px;

            @include tablet {
              margin-top: 0;
              margin-left: 12px;
            }

            @include desktop {
              margin-left: 14px;
              border-radius: 10px;
              width: 40px;
              height: 20px;
            }

            .dot {
              position: absolute;
              width: 10px;
              height: 10px;
              border-radius: 50%;
              background: radial-gradient(85.44% 85.44% at 0% 0%, rgb(255, 255, 255) 0%, rgb(117, 97, 255) 100%);
              top: 50%;
              transform: translateY(-50%);
              left: 1px;
              transition: 0.2s;

              &_hourTime {
                left: 12px;

                @include desktop {
                  left: 20px;
                }
              }

              @include desktop {
                width: 16px;
                height: 16px;
              }
            }


          }


        }

      }

      .timezoneAndItemWrapper {
        margin-top: 8px;
        display: flex;
        flex-direction: column;
        justify-content: normal;
        align-items: flex-start;

        @include desktop {
          margin-top: 12px;
        }

        .timezoneWrapper {
          width: 100%;
          max-width: 262px;

          @include tablet {
            width: 262px;
          }

          .timezoneWrapperTop {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .timezoneWrapperTopLabel {
              font-weight: 400;
              font-size: 10px;
              line-height: 140%;
              text-align: center;
              color: $color_white;

              @include desktop {
                font-size: 16px;
              }
            }

            .refreshButton {
              @include button;
              width: 10px;
              height: 10px;

              @include desktop {
                width: 16px;
                height: 16px;
              }

              svg {
                width: 10px;
                height: 10px;

                @include desktop {
                  width: 16px;
                  height: 16px;
                }
              }

            }

          }

          .fieldTimezone {
            margin-top: 5px;
          }
        }

      }

      .graphAndItems {

        .graphAndItems_items {
          display: flex;
          flex-direction: column;
          align-items: flex-start;


          .item {
            margin-top: 12px;
            border: 1px solid rgba(255, 255, 255, 0.2);
            border-radius: 999px;
            backdrop-filter: blur(22.100000381469727px);
            box-shadow: 0 3px 13px 0 rgba(0, 0, 0, 0.5);
            background: rgba(0, 0, 0, 0.8);
            padding: 3px 8px 3px 14px;

            @include desktop {
              margin-top: 24px;
              padding: 4px 11px 4px 22px;
            }

            p {
              position: relative;
              font-weight: 400;
              font-size: 7px;
              line-height: 140%;
              text-align: center;
              color: $color_white;

              @include desktop {
                font-size: 12px;
              }

              &::before {
                content: "";
                display: block;
                position: absolute;
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background: $color_green;
                top: 50%;
                transform: translateY(-50%);
                left: -8px;

                @include desktop {
                  width: 8px;
                  height: 8px;
                  left: -14px;
                }
              }
            }
          }
        }

        .graphWrapper {

        }


      }



    }

    .info {
      margin-top: 20px;

      @include desktop {
        margin-top: 60px;
      }

      .infoItem {
        margin-top: 12px;

        @include tablet {
          margin-top: 60px;
        }
      }

      .infoItemTitle {
        font-weight: 700;
        font-size: 20px;
        line-height: 140%;
        color: $color_white;
      }

      .infoItemSubTitle {
        font-weight: 700;
        font-size: 16px;
        line-height: 140%;
        color: $color_white;
      }

      .text {
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        color: $color_white;
      }

      .img {
        width: 100%;
        height: auto;

        @include desktop {
          width: 746px;
        }
      }

      .textMargin {
        margin-top: 16px;
      }

      .smallMargin {
        margin-top: 4px;
      }

      .textBlockMargin {
        margin-top: 20px;
      }

      .li {
        position: relative;
        margin-left: 20px;

        &::before {
          content: "";
          position: absolute;
          display: block;
          width: 4px;
          height: 4px;
          border-radius: 50%;
          background: #FFF;
          left: -12px;
          top: 6px;

        }
      }


    }



  }
}