@import "../../../assets/styles/app";

.aboutUs {
  @include container;
  @include pagePaddings;
  background-image: url(/png/about_us/background.png);
  background-size: cover;
  background-position: bottom;
  //overflow: hidden;

  .inner {
    @include inner;

    .title {
      @include h2;
    }

    .cards {
      margin-top: 40px;
      display: flex;
      flex-direction: column;

      .card {
        border: 0.88px solid rgba(255, 255, 255, 0.07);
        border-radius: 13px;
        padding: 16px;
        backdrop-filter: blur(30px);
        box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.5);
        background: rgba(0, 0, 0, 0.7);

        &:not(:first-child) {
          margin-top: 16px;

          @include tablet {
            margin-top: 24px;
          }

          @include desktop {
            margin-top: -36px;
          }
        }



        @include desktop {
          width: 544px;

          &:nth-child(odd) {
            align-self: flex-start;
          }

          &:nth-child(even) {
            align-self: flex-end;
          }
        }

        .label {
          font-weight: 700;
          font-size: 24px;
          line-height: 140%;
          color: $color_white;

          @include desktop {
            font-size: 30px;
          }
        }

        .texts {
          margin-top: 16px;
          font-weight: 400;
          font-size: 14px;
          line-height: 140%;
          color: $color_white;
        }
      }
    }

    //.items {
    //  margin-top: 15px;
    //
    //  @include tablet {
    //    margin-top: 32px;
    //  }
    //
    //  @include desktop {
    //    margin-top: 40px;
    //  }
    //
    //  .item {
    //
    //    @include desktop {
    //      display: flex;
    //    }
    //
    //    &:nth-child(1), &:nth-child(3) {
    //      flex-direction: row-reverse;
    //    }
    //
    //    &:not(:first-child) {
    //      margin-top: 24px;
    //
    //      @include tablet {
    //        margin-top: 32px;
    //      }
    //
    //      @include desktop {
    //        margin-top: 60px;
    //      }
    //    }
    //
    //    .imgWrapper {
    //      position: relative;
    //      //border: 1px solid #FFF;
    //      height: 300px;
    //      width: 100%;
    //
    //      @include tablet {
    //        height: 400px;
    //      }
    //
    //      .cloudWrapper {
    //        position: absolute;
    //        height: 300px;
    //        width: 900px;
    //        top: 0;
    //        left: 50%;
    //        transform: translateX(-50%);
    //
    //       @include tablet {
    //         height: 400px;
    //         width: 1200px;
    //       }
    //
    //       @include desktop {
    //         transform: none;
    //       }
    //      }
    //
    //      .img {
    //        display: block;
    //        position: absolute;
    //        top: 0;
    //        height: 100%;
    //        left: 50%;
    //        transform: translateX(-50%);
    //
    //        @include desktop {
    //          //transform: none;
    //        }
    //      }
    //
    //      @include desktop {
    //        flex-grow: 1;
    //      }
    //    }
    //
    //    &:nth-child(odd) {
    //      .imgWrapper {
    //        .cloudWrapper {
    //          @include desktop {
    //            left: -25%;
    //          }
    //        }
    //      }
    //    }
    //
    //    &:nth-child(even) {
    //      .imgWrapper {
    //        .cloudWrapper {
    //          @include desktop {
    //            right: -25%;
    //            left: auto;
    //          }
    //        }
    //      }
    //    }
    //
    //    .content {
    //
    //      @include desktop {
    //        width: 544px;
    //        flex-shrink: 0;
    //      }
    //
    //      .label {
    //        font-weight: 700;
    //        font-size: 24px;
    //        line-height: 140%;
    //        color: $color_white;
    //
    //        @include desktop {
    //          font-size: 30px;
    //        }
    //      }
    //
    //      .texts {
    //        margin-top: 16px;
    //        font-weight: 400;
    //        font-size: 14px;
    //        line-height: 140%;
    //        color: $color_white;
    //      }
    //
    //
    //    }
    //
    //
    //  }
    //}

  }
}