@import "../../../assets/styles/app";

.leaderboard {
  @include container;
  @include pagePaddings;
  position: relative;
  overflow: hidden;

  @include desktop {
    padding-bottom: 80px;
  }

  .mounts {
    position: absolute;
    z-index: 1;
    display: block;
    width: 470px;
    height: 239px;
    top: 124px;
    left: -335px;

    @include tablet {
      width: 820px;
      height: 417px;
      top: 190px;
      left: -405px;
    }

    @include desktop {
      width: 1062px;
      height: 541px;
      top: auto;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .figure {
    position: absolute;
    z-index: 1;
    display: block;
    width: 539px;
    height: 622px;
    top: -294px;
    left: 50%;
    transform: translateX(-50%);

    @include tablet {
      width: 941px;
      height: 1086px;
      top: -540px;
      left: calc(50% + 20px);
    }

    @include desktop {
      width: 1219px;
      height: 1406px;
      top: -630px;
      left: auto;
      transform: none;
      right: -216px;
    }
  }

  .header_blur {
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    width: 1920px;
    height: auto;

    @media all and (min-width: 1920px) {
      width: 100%;
    }
  }

  .cloudWrapper {
    position: absolute;
    z-index: 1;
    height: 200px;
    width: 3 * 200px;
    top: 210px;
    right: -250px;

    @include tablet {
      height: 300px;
      width: 900px;
      top: auto;
      bottom: 0;
      right: auto;
      left: calc(50% + 230px);
      transform: translateX(-50%);
    }

    @include desktop {
      transform: none;
      height: 300px;
      width: 900px;
      left: auto;
      right: -150px;
      bottom: -25px;
    }
  }

  .inner {
    @include inner;
    position: relative;
    z-index: 10;

    .title {
      @include h2;
    }

    .btns {
      display: flex;
      justify-content: center;
      margin-top: 12px;

      @include desktop {
        margin-top: 24px;
      }

      .btn {
        @include button;
        background: rgba(0, 0, 0, 0.5);
        border: 1px solid rgba(146, 148, 165, 0.5);
        border-radius: 10px;
        padding: 4px 6px;

        @include tablet {
          padding: 6px 16px;
        }

        &:not(:first-child) {
          margin-left: 9px;

          @include tablet {
            margin-left: 10px;
          }
        }

        span {
          font-weight: 400;
          font-size: 12px;
          line-height: 140%;
          text-align: center;
          color: $color_light_gray;

          @include tablet {
            font-size: 20px;
          }
        }

        &_selected {
          border-color: $color_purple;

          span {
            color: $color_white;
          }
        }
      }
    }

    .cardsWrapper {
      backdrop-filter: blur(22px);
      box-shadow: 0 3px 13px 0 rgba(0, 0, 0, 0.5);
      background: rgba(0, 0, 0, 0.14);
      border: 1px solid rgba(255, 255, 255, 0.07);
      border-radius: 10px;
      padding: 20px;
      width: 85vw;
      margin-top: 36px;
      margin-left: auto;
      margin-right: auto;

      @include tablet {
        width: auto;
        margin-top: 74px;
        margin-left: 0;
        margin-right: 0;
        display: flex;
        align-items: center;
        padding: 8px 22px;
      }

      @include desktop {
        margin-top: 80px;
        padding: 20px 35px;
      }
    }

    .card {
      position: relative;
      border: 1px solid $color_yellow;
      backdrop-filter: blur(22.10000228881836px);
      box-shadow: 0 3px 13px 0 rgba(0, 0, 0, 0.5);
      border-radius: 10px;
      backdrop-filter: blur(34px);

      @include tablet {
        flex-grow: 1;
      }

      &:not(:first-child) {
        margin-top: 22px;

        @include tablet {
          margin-top: 0;
        }
      }

      &:not(:nth-child(2)) {
        @include tablet {
          margin-left: 6px;
        }

        @include desktop {
          margin-left: 23px;
        }
      }

      &:nth-child(1) {
        padding: 18px 10px 10px;

        @include tablet {
          order: 2;
        }

        @include desktop {
          padding: 28px 16px 16px;
        }

        .cardTop {
          padding-bottom: 10px;

          @include desktop {
            padding-bottom: 16px;
          }
        }

        .cardPrize {
          padding: 10px 0 7px;

          @include desktop {
            padding: 16px 0 11px;
          }
        }
      }

      &:nth-child(2) {
        padding: 13px 10px 7px;
        border-color: $color_light_gray;

        @include tablet {
          order: 1;
        }

        @include desktop {
          padding: 21px 16px 9px;
        }

        .cardTop {
          padding-bottom: 2px;

          @include desktop {
            padding-bottom: 11px;
          }
        }

        .cardPrize {
          padding: 2px 0 7px;

          @include desktop {
            padding: 11px 0;
          }
        }

      }

      &:nth-child(3) {
        padding: 14px 10px 6px;

        @include tablet {
          order: 3;
        }

        @include desktop {
          padding: 21px 16px 9px;
        }

        .cardTop {
          padding-bottom: 4px;

          @include desktop {
            padding-bottom: 6px;
          }
        }

        .cardPrize {
          padding: 4px 0 7px;

          @include desktop {
            padding: 6px 0 11px;
          }
        }

        .cardEarned {

        }
      }


      .lent {
        position: absolute;
        display: block;
        top: -1px;
        right: -1px;
        width: 49px;
        height: auto;

        @include desktop {
          width: 75px;

        }
      }

      .order {
        position: absolute;
        font-weight: 700;
        font-size: 15px;
        line-height: 140%;
        text-align: center;
        color: $color_white;
        top: 18px;
        right: 17px;
        transform: translate(50%, -50%) rotate(45deg);

        @include desktop {
          font-size: 23px;
          top: 28px;
          right: 26px;
        }
      }

      .cardTop {
        display: flex;
        align-items: center;

        img {
          display: block;
          border-radius: 5px;
          width: 40px;
          height: 40px;

          @include desktop {
            border-radius: 7px;
            width: 60px;
            height: 60px;
          }
        }

        .cardTopLeft {
          margin-left: 8px;

          @include desktop {
            margin-left: 12px;
          }

          .name {
            font-weight: 700;
            font-size: 14px;
            line-height: 140%;
            color: $color_white;

            @include desktop {
              font-size: 20px;
            }
          }

          .countryWrapper {
            display: flex;
            align-items: center;
            margin-top: 4px;

            @include desktop {
              margin-top: 6px;
            }

            .country {
              font-weight: 400;
              font-size: 10px;
              line-height: 140%;
              color: $color_light_gray;
              margin-left: 3px;

              @include desktop {
                margin-left: 5px;
              }
            }
          }
        }
      }

      .cardPrize {
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        display: flex;
        flex-direction: column;
        align-items: center;

        svg {
          width: 16px;
          height: 16px;

          @include desktop {
            width: 24px;
            height: 24px;
          }
        }

        .prizeLabel {
          margin-top: 4px;
          font-weight: 400;
          font-size: 10px;
          line-height: 140%;
          text-align: center;
          color: $color_light_gray;

          @include desktop {
            margin-top: 6px;
            font-size: 12px;
          }
        }

        .account {
          margin: 4px auto 0;
          font-weight: 700;
          font-size: 14px;
          line-height: 140%;
          text-align: center;
          color: $color_white;
          width: 177px;

          @include desktop {
            margin: 6px auto 0;
            font-size: 20px;
            width: 272px;
          }
        }
      }

      .cardEarned {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        padding: 7px 0;

        @include desktop {
          padding: 11px 0;
        }

        .earnedLabel {
          font-weight: 400;
          font-size: 10px;
          line-height: 140%;
          text-align: center;
          color: $color_light_gray;

          @include desktop {
            font-size: 12px;
          }
        }

        .earned {
          font-weight: 700;
          font-size: 16px;
          line-height: 140%;
          color: $color_white;
          text-align: center;

          @include desktop {
            font-size: 24px;
          }
        }
      }

      .cardBottom {
        padding-top: 7px;
        display: flex;
        justify-content: space-between;

        & > div {
          p:nth-child(1) {
            font-weight: 400;
            font-size: 10px;
            line-height: 140%;
            color: $color_light_gray;

            @include desktop {
              font-size: 12px;
            }
          }

          p:nth-child(2) {
            font-weight: 700;
            font-size: 12px;
            line-height: 140%;
            color: $color_white;
            margin-top: 4px;

            @include desktop {
              font-size: 14px;
              margin-top: 14px;
            }
          }
        }
      }

    }

  }


}

