@import "../../../assets/styles/app";



  .fieldTimezone {
    position: relative;

    .field {
      position: relative;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 10px;
      backdrop-filter: blur(34px);
      box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.5);
      background: rgba(0, 0, 0, 0.8);
      padding: 7px 12px;

      .label {
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        color: $color_white;
      }

      svg {
        //width: 8px;
        //height: 8px;
        transition: 0.3s;
      }

    }

    .dropdown {
      position: absolute;
      z-index: 999;
      bottom: -4px;
      left: -1px;
      right: -1px;
      transform: translateY(100%);
      border-radius: 8px;
      border: 1px solid rgba(0, 0, 0, 0.15);
      background: #FFF;
      height: 250px;
      overflow: hidden;

      &_top {
        bottom: auto;
        top: -4px;
        transform: translateY(-100%);
      }

      .dropdownInner {
        height: 100%;
        overflow: auto;

        .dropdownItem {
          cursor: pointer;
          font-weight: 400;
          padding: 12px;
          font-size: 14px;
          line-height: 140%;
          color: $color_black;
          background: #FFF;
          transition: 0.3s;

          &:hover {
            @include tablet {
              background: #F5F5F5;
            }
          }

          span {
            color: rgba(0, 0, 0, 0.70);
          }
        }

      }

    }

    &_open {

      .field svg {
        transform: rotate(-180deg);
      }
    }

  }


