$color_purple: #7561ff;
$color_white: #fff;
$color_light_gray: #9294a5;
$color_cyan: #3ad0ff;
$colo_gray: #2e3033;
$color_black: #000;
$color_green: #51faaa;
$color_red: #ee5b5b;
$color_yellow: #fa9d31;
$color_orange: #fa6131;
