@import "../../../assets/styles/app";

.faqPopup {
  @include centerRow;
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(20px);
  background: rgba(0, 0, 0, 0.2);
  padding: 20px 16px;

  @include tablet {
    padding: 36px 40px;
  }

  @include desktop {
    padding: 80px 0;
  }

  .card {
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    backdrop-filter: blur(34px);
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.5);
    padding: 52px 24px 20px;
    background: rgba(0, 0, 0, 0.2);

    @include desktop {
      width: 1068px;
      margin-left: auto;
      margin-right: auto;
    }

    .closeBtn {
      @include button;
      position: absolute;
      top: 20px;
      right: 24px;
      width: 12px;
      height: 12px;

      svg {
        width: 12px;
        height: 12px;

        path {
          stroke: #FFF;
        }
      }

    }

    .cardTitle {
      font-weight: 700;
      font-size: 20px;
      line-height: 140%;
      color: $color_white;

      @include tablet {
        font-size: 24px;
      }
    }

    .cardTexts {
      margin-top: 20px;

      p {
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        color: $color_white;

        @include tablet {
          font-size: 16px;
        }

        &:not(:first-child) {
          margin-top: 1.4 * 14px;

          @include tablet {
            margin-top: 1.4 * 16px;
          }
        }
      }
    }

    .backBtn {
      margin-top: 30px;
      width: 100%;

      @include tablet {
        width: 320px;
        margin-left: auto;
        margin-right: auto;
      }
    }

    .needSupport {
      margin-top: 20px;
      font-weight: 400;
      font-size: 12px;
      line-height: 140%;
      text-align: center;
      color: $color_white;

      a {
        text-decoration: none;
        color: $color_cyan;
      }
    }

  }
}